:root {
    --blue: rgb(194, 238, 253);
    --orange: orange;
    --pink: pink;
    --purpleblue: rgb(117, 58, 255);
    --yellow: rgb(221, 221, 44);
    --palegreen: palegreen;
    --red: rgb(255, 240, 175);
    --white: white;
}


body{
    margin: 0;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
ul li {
    padding: 5px
    /* list-style-type: none; */
}

.unordered-margin {
    margin-top: 10px;
    margin-left: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    /* This is the desktop layout */
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "article article aside"
        "footer footer footer";
    /* column-gap: 10px; */
}


header {
    color: beige;
    background-color: rgb(252, 183, 193);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-column: span 3;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 178);
    grid-area: header;
    background-image: url(pinkflowers.jpg);

 
}



.main-nav {
    grid-area: nav;
    /* background-color: aquamarine; */
    background-color: var(--red);
    /* border: 2px solid black; */
}
.main-nav ul {
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-nav a {
    background: var(--red);
    display:block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--);
    text-transform: uppercase;
    font-size: 1.1rem; 
}

.main-nav a:hover{
    background: var(--blue);
    color: var(--red);
    grid-area: footer;
    background-image: url(daisys.jpg);
}

article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--blue);
    font-size: 1rem;
    /* max-width: 880px; */
    padding: 30px;
    grid-area: article;
}
article img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
article p {
    margin-top: 30px;
    line-height: 1.8;
    color: black;
}
aside {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#000000;
    background-color:rgb(255, 218, 224);
    padding: 30px;
    /* border-left: 1px solid pink; */
    background-image: url(pinkdaisy.jpg);
    grid-area: aside;
  
}
footer {
    background-color: var(--red);
    grid-column: span 3;
    text-align: center;
    border-top: 1px solid rgb(125, 173, 255);
    padding: 30px;
}


/* Begin card layout CSS */
.card-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin: 10px;
    border: 2px solid rgb(173, 140, 180);
    border-radius: 5px;
    overflow: hidden;
    background-color:white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.card article {
    padding: 1rem;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;

}

.card-content h2 {
    margin-top: 0;
}

.card-content a {
    display: block;
    margin-top: 16px;
    text-decoration: none;
}

/* End card layout CSS */






/* To make the page responsive */
@media (width < 800px) {
    .grid-container {
        /* display: grid; */
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr auto auto;
        /* This is the desktop layout */
        grid-template-areas: 
            "header "
            "nav"
            "article"
            "aside"
            "footer";
        /* column-gap: 5px; */
    }

    .main-nav ul {

        display: grid;
        /* gap: 5px; */
        padding: 0.5rem;
        list-style: none;
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 1fr;
        background-color: var(--pink);
    }

    .main-nav a {
        padding: 1rem;
    }

    .main-nav a:hover {
        background-color: coral;
        color: white;
    }
    aside {
        padding: 16px;
    }

}

@media (width > 980px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: max-content 1fr auto auto;
        /* This is the mobile, single-column layout */
        grid-template-areas: 
            "header header header"
            "nav nav nav"
            "article article aside"
            "footer footer footer";
             /* column-gap: 5px; */
    }

    .main-nav ul {

       display: grid;
       grid-template-columns: repeat(3, 1fr);
       /* gap: 5px; */
       padding: 0.5rem;
       list-style: none;
        
        
    }

    .grid-container article h2 {
        text-align: center;

    }

    .grid-container article img {
        display: block;
        margin: 0 auto;
    }

}







