:root {
    --blue: lightblue;
    --orange: orange;
    --pink: pink;
    --purpleblue: rgb(117, 58, 255);
    --yellow: rgb(221, 221, 44);
    --palegreen: palegreen;
    --red: red;
    --white: white;
}


body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul, li {
    padding: 0;
    list-style-type: none;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    /* This is the desktop layout */
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "article article aside"
        "footer footer footer";
    /* column-gap: 10px; */
}


header {
    background-color: var(--white);
    grid-column: span 3;
    text-align: center;
    border-bottom: 1px solid white;
    grid-area: header;
}

.main-nav {
    grid-area: nav;
    /* background-color: aquamarine; */
    background-color: var(--red);;
    /* border: 2px solid black; */
}
.main-nav ul {
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-nav a {
    background: var(--red);
    display:block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.1rem; 
}

.main-nav a:hover{
    background: var(--blue);
    color: var(--red);
}

article {
    background-color: var(--blue);
    font-size: 1rem;
    /* max-width: 880px; */
    padding: 30px;
    grid-area: article;
}
article img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
article p {
    margin-top: 30px;
    line-height: 1.8;
    color: black;
}
aside {
    background-color: var(--white);
    padding: 30px;
    /* border-left: 1px solid pink; */
    grid-area: aside;
}
footer {
    background-color: var(--red);
    grid-column: span 3;
    text-align: center;
    border-top: 1px solid rgb(125, 173, 255);
    padding: 30px;
    grid-area: footer;
}


/* Start CSS for card layout */
img {
    max-width: 100%;
}

  
article .cards {
    display: grid;
    /* max-width: 950px; */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "my-card my-card";
      
    gap: 10px;

    margin: 2em auto;
}

.card-a {
    grid-area: card-a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr auto auto;
    border: 1px solid #625e5e;
    border-radius: 3px;
}

.card-b {
    grid-area: card-b;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr auto auto;
    border: 1px solid #625e5e;
    border-radius: 3px;
}


article .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr auto auto;
    border: 1px solid #625e5e;
    border-radius: 3px;
    grid-area: my-card;
}

article .card img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

article .card h2 {
    margin: 0;
    padding: 0.5rem;
}

article .card footer {
    background-color: pink;
    color: black;
    padding: 0.5rem;
}


/* End of CSS for card layout */


/* To make the page responsive */
@media (width < 800px) {
    .grid-container {
        /* display: grid; */
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        /* This is the desktop layout */
        grid-template-areas: 
            "header "
            "nav"
            "article"
            "aside"
            "footer";
        /* column-gap: 5px; */
    }

    .main-nav ul {

        display: grid;
        /* gap: 5px; */
        padding: 0.5rem;
        list-style: none;
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 1fr;
        background-color: var(--pink);
    }

    .main-nav a {
        padding: 1rem;
    }

    .main-nav a:hover {
        background-color: coral;
        color: white;
    }
    aside {
        padding: 16px;
    }

    article .cards {

        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "card-a"
            "card-b";
          
    }
}

@media (width > 980px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto 1fr auto;
        /* This is the mobile, single-column layout */
        grid-template-areas: 
            "header header header"
            "nav nav nav"
            "article article aside"
            "footer footer footer";
             /* column-gap: 5px; */
    }

    .main-nav ul {

       display: grid;
       grid-template-columns: repeat(3, 1fr);
       /* gap: 5px; */
       padding: 0.5rem;
       list-style: none;
        
        
    }

    article .cards {
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
            "card-a card-b";
         
    }


}

/*Card layout css*/




/* @media (width < 550px) {
    .cards{
        grid-template-columns: 1fr;
        margin: 1em 2em;
    }

    .card {
        grid-template-columns: 1fr;
    }
} */



